In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
from functools import reduce

from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

import statsmodels.formula.api as smf
from scipy.stats import pearsonr

InteractiveShell.ast_node_interactivity = 'all' 
plt.style.use('ggplot')

C:\Software\Anaconda37\envs\data_science_env\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
Using TensorFlow backend.
C:\Software\Anaconda37\envs\data_science_env\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Software\Anaconda37\envs\data_science_env\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Software\Anaconda37\envs\data_science_env\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Software\Anaconda37\envs\data_science_env\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Software\Anaconda37\envs\data_science_env\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Software\Anaconda37\envs\data_science_env\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
plt.rcParams['figure.figsize'] = (15, 5)
plt.rcParams['axes.titlesize'] = 24
plt.rcParams['axes.labelsize'] = 22
plt.rcParams['ytick.labelsize'] = 20
plt.rcParams['xtick.labelsize'] = 20
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

In [18]:
import json

model_root = 'trained_models/reinforcement_learning'
df_list = []
for model_name in os.listdir(model_root):
    with open( os.path.join(model_root, model_name, 'config.json')) as f:
        data = json.load(f)
    
    base_model = data['starting_actor_critic']
    if base_model is not None:
        base_model = os.path.basename(base_model)
    
    enemies = data['enemies']
    model_dict = {'model':model_name, 'base_model':base_model, 
    df_list.append({'model':model_name, 'base_model':base_model, 
                    'enemy_0':enemies[0]})
#     if base_model is None:
#         model_lists.append([model_name])
#     else:
#         for model_list in model_lists:
#             has_this_base = model_list[-1] == base_model
#             if has_this_base:
#                 model_list.append(model_name)

In [19]:
pd.DataFrame(df_list)

                 model                      base_model       enemies
0   1590573752.3423483                            None  [1, 3, 6, 7]
1   1590579471.1575735                            None  [1, 2, 6, 7]
2   1590649982.3414495              1590579471.1575735  [1, 2, 6, 7]
3   1590741419.5509562              1590579471.1575735  [3, 4, 5, 8]
4   1590741556.9109056              1590579471.1575735  [3, 4, 5, 8]
5   1590827635.8673058              1590579471.1575735  [3, 4, 6, 7]
6   1590918282.3727078              1590579471.1575735  [1, 3, 6, 7]
7   1591007624.3262362              1590579471.1575735  [2, 3, 6, 7]
8   1591084878.9942527              1590579471.1575735  [2, 4, 6, 7]
9   1591129940.8205636                            None  [2, 3, 6, 7]
10   1591130472.260961                            None  [2, 3, 6, 7]
11   1591261004.787129                            None  [1, 2, 6, 7]
12  1591296681.0770957  47.98_1591201550.222573.pickle  [1, 2, 6, 7]
13  1591348528.7868078  52.13_1591215640.939492.pickle  [1, 2, 6, 7]
14  1591429808.8947563  56.86_1591208496.467009.pickle  [1, 2, 6, 7]
15  1591521804.2132065  61.38_1591194194.380356.pickle  [1, 2, 6, 7]
16  1591606067.8750339               1591261004.787129  [1, 2, 6, 7]
17  1591621172.6596105              1591606067.8750339  [1, 2, 6, 7]
18  1591629797.3824728              1591621172.6596105  [1, 2, 6, 7]
19   1591635832.204705              1591629797.3824728  [1, 2, 6, 7]
20  1591641901.9027252               1591635832.204705  [1, 2, 6, 7]
21   1591803558.255182                            None  [1, 2, 6, 7]
22  1591810052.4616268               1591803558.255182  [1, 2, 6, 7]
23  1591817160.3153307              1591810052.4616268  [1, 2, 6, 7]
24  1591824135.7858899              1591817160.3153307  [1, 2, 6, 7]
25  1591831061.5867038              1591824135.7858899  [1, 2, 6, 7]
26  1591837852.4801831              1591831061.5867038  [1, 2, 6, 7]
27   1591844700.491681              1591837852.4801831  [1, 2, 6, 7]
28  1591851592.3176994               1591844700.491681  [1, 2, 6, 7]
29   1591858653.952985              1591851592.3176994  [1, 2, 6, 7]
30   1591865869.114568               1591858653.952985  [1, 2, 6, 7]
31  1591873289.2477565               1591865869.114568  [1, 2, 6, 7]
32  1591880695.9546342              1591873289.2477565  [1, 2, 6, 7]
33  1591891998.8024027                            None  [1, 2, 6, 7]
34   1591900522.664977              1591891998.8024027  [1, 2, 6, 7]
35  1591907344.3176105               1591900522.664977  [1, 2, 6, 7]
36   1591914476.929822              1591907344.3176105  [1, 2, 6, 7]
37  1591921607.5572317               1591914476.929822  [1, 2, 6, 7]
38  1591928627.3291872              1591921607.5572317  [1, 2, 6, 7]
39  1591935751.1014764              1591928627.3291872  [1, 2, 6, 7]
40  1591942954.9945362              1591935751.1014764  [1, 2, 6, 7]
41  1591950327.7396142              1591942954.9945362  [1, 2, 6, 7]
42  1591957507.0270262              1591950327.7396142  [1, 2, 6, 7]
43   1591964820.216715              1591957507.0270262  [1, 2, 6, 7]
44  1591972086.6519217               1591964820.216715  [1, 2, 6, 7]